<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title></title>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="background: #f7f7f7; vertical-align: middle;" height="80%" width="80%">
	<tbody>
		<tr>
			<td>
				<br />
				<table align="center" border="0" cellpadding="0" cellspacing="0" style=" border: 1px groove rgb(148, 148, 148); -webkit-box-shadow: 0px 5px 10px -5px black; -moz-box-shadow: 0px 5px 10px -5px black; 	box-shadow: 0px 5px 10px -5px black;" height="90%" width="90%">
					<tbody>
						<tr cellpadding="0" cellspacing="0" width="100%" style=" background: linear-gradient(to top, #acacac, #bcbcbc, #cccccc, #d4d4d4, #dfdfdf, #ececec, #f2f2f2 , #fafafa); ">
							<td >
							<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-bottom: 1px solid #606060;">
								<tbody>
									<tr>
										<td style="height:100%;width:85%; color: #171e2b; font-size: 1em"><strong><h2>&nbsp;&nbsp;&nbsp; Request Confirmation!</h2></strong></td>
										<td style="height:100%;width:15%; font-style: italic; color: #707070; font-size: .85em;"><strong>Received: </strong> {{"now"|date("m/d/y")}}</td>
									</tr>
								</tbody>
							</table>
							</td>
						</tr>
						<tr style="background: #ffffff url(https://scontent-mia1-1.xx.fbcdn.net/v/t1.0-9/13435501_10208769388665785_8226731869466926272_n.jpg?oh=2418c62e5d913688b875529d3b04fb25&amp;oe=5805B28C) no-repeat; background-position:center; background-size: contain;">
							<td valign="top" align="justify">
								<table align="center" height="95%" width="95%">
									<tbody>
										<tr>
											<td >
												<p align="justify" style="color: #606060; font-style: italic;">
													<br />
													Hello {{data_arr.getClientName()}},													 
													<br /> 
													<br /> &nbsp;&nbsp;&nbsp;
													We have successfully received your quotation request. Our team 
													will be tirelessly working in order to shortly provide you with an unbeatable 
													price. In case of doubts or any extra information needed, we will be contacting 
													you thru the contact info you have provided before. Please don't hesitate to 
													contact us if there is anything else you might need. Best Regards.
													<br />
													M&M Electric of Central Florida, Inc.
												</p>
												<br />
												<br />
												<br />
												<div align="center" style="font-style: italic; color: #9b9b9b;">
													  <strong> M&M Electric of Central Florida, Inc. </strong><br />
													  Commercial - Residential Wiring and Lightning. <br />
													  6100 Canal Rd Lot 26, Orlando, FL 32827 <br />
													  <strong>Phone:</strong> 800-734-0776 <strong> Fax: </strong> 407-277-7222 <br />
													  Licence #EC13004854 
												</div>
												<br />
											</td>
										</tr>
									</tbody>
								</table>
									
							</td>
						</tr>
					</tbody>
				</table>
				<div>&nbsp;</div>
			
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>



